:root {
    --max-width: 40em; /* 640px */
    --primary-color: #055674;
    --secondary-color: #FFD700;
    --text-color: #000;
    --background-color: #D9FAFF;
    --accent-color: #FFF;
    --box-bg-color: rgba(255, 255, 255, 0.8);
    --weather-icon-width: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
}

h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 900;
    font-style: normal;
    color: #FFF;
    letter-spacing: .4rem;
    text-shadow: 0.2rem 0.2rem #000;
}

.container {
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    /* border-bottom: 0.2rem solid #FF0000; */
}

.image-container {
    height: auto;
}

.image-container img {
    width: 100%;
    height: 100%; /* Set image height to 100% */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-top: 1rem solid var(--secondary-color);
}

.data-section, .weather-section {
    padding-top: 1rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.data-section h2 {
    padding-bottom: 1.5rem;
    text-align: center;
}

.data-table {
    display: grid;
    grid-template-columns: auto auto;
    gap: .75rem;
}

.data-title {
    font-weight: 700;
    text-align: right;
}

.data-value {
    text-align: left;
}

.weather-section h2 {
    text-align: center;
    position: relative;
}

.weather-section img {
    display: block;
    margin: 0 auto;
    width: var(--weather-icon-width);
    height: auto;
}

.weather-section h2::after {
    display: block;
    margin: 0 auto 0;
    width: var(--weather-icon-width);
    height: auto;
}

footer {
    display: grid;
    grid-row: 3/4;
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding-top: 0.9rem;
    padding: 2rem;
    line-height: 2rem;
    border-top: 0.4em solid var(--secondary-color);
}