body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    display: grid;
    grid-template-rows: 1fr auto 4fr 2fr;
    grid-template-columns: 3fr 1fr;
}
header {
    background: #333333;
    grid-column: span 3;
    padding: 1rem;
}
h1 {
    color:#F9F9F9;
}
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 3 span;
    background: #000000;
}
.navigation a {
    display: block;
    color: #FFFFFF;
    padding: 0.75rem;
    text-decoration: none;
}
.left-sidebar {
    background: #CCCCCC;
    grid-column: 1 / 2;
    padding: 0.5rem;
}
.right-sidebar{
    background: #FFFFFF;
    grid-column: 2 / 3;
    padding: 0.5rem;
}
footer {
    background: #333333;
    padding: 1rem;
    color: #F8F8F8;
    font-weight: 700;
    text-align: center;
    grid-column: 1 / 4;
}